/* VARIABLES
============================================================================= */

@white: #fff;
@lightgrey: #e8e8e8;
@grey: #bcbdbd;
@orange: #ea5c4d;
@green: #1fb3b0;
@navy: #2d3e50;
@black-oda: #343434;

@trans-height: 200%;


/* BASIC STYLINGS
============================================================================= */


body {
    background-color: @lightgrey;
    padding-top:20px;
    font-family: 'Bitter', serif;
}
pre {
    background-color: @navy;
    border-color: @white;
    color: @white;
    margin-bottom:20px;
}

/* UIs */

.alert-info {
    color: @white;
    background-color: @green;
    border-color: @green;
}

.main-button {
    border: 7px solid darken(@orange, 15%);
    padding: 15px;
    color: @white;
    background-color: @orange;
    font-size: 2.5em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: -10px 10px 0px 0px @grey;
    -moz-box-shadow: -10px 10px 0px 0px @grey;
    -webkit-box-shadow: -10px 10px 0px 0px @grey;
    &:hover, &:active {
        color: @white;
        background-color: darken(@orange, 3%);
        text-decoration: none;
    }
}
.main-button-small {
    border: 3px solid darken(@orange, 15%);
    padding: 10px;
    font-size: 1.2em;
    box-shadow: -5px 5px 0px 0px @grey;
    -moz-box-shadow: 5px 5px 0px 0px @grey;
    -webkit-box-shadow: -5px 5px 0px 0px @grey;
}

.oda-button {
    border: 3px solid darken(@navy, 10%);
    padding: 10px;
    color: @white;
    background-color: @navy;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: -5px 5px 0px 0px darken(navy, 10%);
    -moz-box-shadow: -5px 5px 0px 0px darken(navy, 10%);
    -webkit-box-shadow: -5px 5px 0px 0px darken(navy, 10%);
    &:hover, &:active {
        color: @white;
        background-color: darken(@navy, 10%);
        text-decoration: none;
    }
}

.input-hidden {
    position: absolute;
    left: -9999px;
}

input[type=radio]:checked + label {
    color: @white;
    background-color: @grey;
    font-weight: bold;
}

input[type=radio] + label {
    border: 3px solid @grey;
    padding: 5px 30px;
    margin-right: 5px;
    color: @grey;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
}

input[type=radio] + label.block {
    display: grid;
}


#share-buttons {
    padding: 20px 10px;
    img {
        width: 56px;
        padding: 5px;
        border: 0;
        box-shadow: 0;
        display: inline;
    }
}



/* General styles */

#app-container, #resultado-block {

    .page-head {
        margin:0 auto;
        padding: 15px; 
        img {
            margin: 0 auto;
        }
    }

    #tieso-form {
        position:relative;
        min-height:300px;
        overflow:hidden;
        padding:15px;

        #tieso-form-views {
            padding: 20px 20px 0px 20px;
            min-height: 300px;

            .ask-group {
                padding-top: 50px;
            }
            .ask-button {
                padding-top: 100px;
            }
            .ask-intro {
                color: @green;
                text-transform: uppercase;

            }
            .ask {
                font-size: 1.5em;
                color: @navy;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 20px;
            }
            .mascota-block {
                min-height: 300px;
                border-left: 5px solid @white;
                img {
                    width: 400px;
                }
            }
        }

        #tieso-form-views.ng-enter, #tieso-form-views.ng-leave {
            // position:absolute;
            // top:30px;
            // bottom:30px;
            transition:0.5s all ease;
            -moz-transition:0.5s all ease;
            -webkit-transition:0.5s all ease; 
        }
            
        #tieso-form-views.ng-enter {
            animation:slideInBottom 0.5s both ease; 
            -moz-animation:slideInBottom 0.5s both ease;
            -webkit-animation:slideInBottom 0.5s both ease;
        }

        #tieso-form-views.ng-leave            { 
            animation:slideOutTop 0.5s both ease;   
            -moz-animation:slideOutTop 0.5s both ease;
            -webkit-animation:slideOutTop 0.5s both ease;
        }
    
    }

}

#resultado-block {
    .main-block {
        h5 {
            color: @green;
            text-transform: uppercase;
        }
        #tiesura {
            text-align: center;
            h3 {
                color: @navy;
                font-size: 2em;
                font-weight: bold;
                text-align: center;
            }
            img {
                margin: 0 auto;
                width: 200px;
            }
        }
        .tiesura-desc {
            text-align: center;
            font-weight: bold;
        }
        .mascota {
            width: 200px;
        }
        #share-buttons {
            h5 {
                color: @green;
            }
        }
        .termometro {
            margin: 0 auto;
            padding: 30px;
        }
    }
}
#oda-preblock {
    padding: 10px;
    background-color: @lightgrey;
    h5 {
        text-align: center;
        text-transform: uppercase;
        color: @orange;
        font-weight: bold;
        padding-bottom: 30px;
    }

}
#oda-block {
    padding: 30px 30px 30px 30px;
    background-color: @navy;
    .button-block {
        padding: 60px 10px;
    }
}
#oda-postblock {
    padding: 30px 30px 60px 30px;
    background-color: @lightgrey;
    .datos {
        padding-top: 30px;
    }
    h5 {
        text-align: center;
        color: @navy;
        font-weight: bold;
        padding-bottom: 30px;
        font-size: 2em;
    }
    h3 {
        text-align: center;
        color: @green;
    }
}
#presiona-block {
    padding: 30px 30px 60px 30px;
    background-color: @white;
    .representante {
        min-height: 225px;
    }
    h5 {
        text-align: center;
        text-transform: uppercase;
        color: @navy;
        font-weight: bold;
        padding-bottom: 30px;
    }
    h4, h6 {
        color: @orange;
    }
    h4 {
        font-weight: bold;
    }
    h6 {
        padding-bottom: 15px;
    }
}


/* ANIMATIONS
============================================================================= */
/* slide out to the top */
@keyframes slideOutTop {
	to 		{ transform: translateY(-(@trans-height)); opacity:0; }
}
@-moz-keyframes slideOutTop {	
	to 		{ transform: translateY(-(@trans-height)); opacity:0; }
}
@-webkit-keyframes slideOutTop {
	to 		{ transform: translateY(-(@trans-height)); opacity:0; }
}

/* slide in from the bottom */
@keyframes slideInBottom {
	from 	{ transform:translateY(@trans-height); opacity:0; }
	to 		{ transform: translateY(0); opacity:1; }
}
@-moz-keyframes slideInBottom {
	from 	{ transform:translateY(@trans-height); opacity:0; }
	to 		{ transform: translateY(0); opacity:1; }
}
@-webkit-keyframes slideInBottom {
	from 	{ transform:translateY(@trans-height); opacity:0; }
	to 		{ transform: translateY(0); opacity:1; }
}


/* MEDIA QUERIES
============================================================================= */

@media only screen and (max-width: 767px) {
    #app-container {
        #tieso-form {
            #tieso-form-views {
    .ask-group {
        padding-top: 25px;
    }

            }
        }
    }
    .ask-button {
        padding-top: 50px;
    }
    .main-button {
        font-size: 1.5em;
    }
}
