<div class="text-center">
    <h3>¿Cuál crees que es tu nivel de tiesura?</h3>
    <div class="percepcion-group">
        <input type="radio" name="percepcion-value" ng-model="formData.percepcion" value="0">0
        <input type="radio" name="percepcion-value" ng-model="formData.percepcion" value="1">1
        <input type="radio" name="percepcion-value" ng-model="formData.percepcion" value="2">2
        <input type="radio" name="percepcion-value" ng-model="formData.percepcion" value="3">3
        <input type="radio" name="percepcion-value" ng-model="formData.percepcion" value="4">4
        <input type="radio" name="percepcion-value" ng-model="formData.percepcion" value="5">5
    </div>
    
</div>
