<div class="text-center">
    <div class="ask-intro">Con amistades, familiares o con quien desees</div>
    <div class="ask">¿Te puedes reunir al menos una vez al mes para actividades de ocio?</div>
    <div class="percepcion-group">
        <input ng-click="goTo('form.participacion')" type="radio" name="cdvs-value" class="input-hidden" ng-model="formData.cdvsocial" id="cdvs1" value="1"><label for="cdvs1">Sí</label>
        <input ng-click="goTo('form.participacion')" type="radio" name="cdvs-value" class="input-hidden" ng-model="formData.cdvsocial" id="cdvs0" value="0"><label for="cdvs0">No</label>
    </div>
</div>
