<div class="text-center">
    <div class="ask-intro">Subtítulo aquí</div>
    <div class="ask">¿De dónde viene la mayor parte de tus ingresos?</div>
    <div class="percepcion-group">
        <input ng-click="goTo('form.cdv-material')" type="radio" name="ingresos-value" class="input-hidden" ng-model="formData.ingresos" id="ingresos5" value="5"><label for="ingresos5" class="block">De tu empleo</label>
        <input ng-click="goTo('form.cdv-material')" type="radio" name="ingresos-value" class="input-hidden" ng-model="formData.ingresos" id="ingresos3" value="3"><label for="ingresos3" class="block">De la inversión de capital</label>
        <input ng-click="goTo('form.cdv-material')" type="radio" name="ingresos-value" class="input-hidden" ng-model="formData.ingresos" id="ingresos1" value="1"><label for="ingresos1" class="block">De alguna prestación y/o apoyo familiar</label>
    </div>
</div>
