<div class="text-center">
    <div class="ask-intro">Reparar tu coche, comprar un electrodomésico, alguna urgencia médica, ...</div>
    <div class="ask">¿Puedes asumir un imprevisto de 650€?</div>
    <div class="percepcion-group">
        <input ng-click="goTo('form.cdv-educativa')" type="radio" name="cdvm-value" class="input-hidden" ng-model="formData.cdvmaterial" id="cdvm1" value="1"><label for="cdvm1">Sí</label>
        <input ng-click="goTo('form.cdv-educativa')" type="radio" name="cdvm-value" class="input-hidden" ng-model="formData.cdvmaterial" id="cdvm0" value="0"><label for="cdvm0">No</label>
    </div>
</div>
