<div class="text-center">
    <div class="row">
        <div class="col-sm-6 ask-group">
            <div class="ask-intro">Seguro que has escuchado que existe relación entre nivel de estudios, empleo, renta y salud</div>
            <div class="ask">¿Has podido al menos terminar la educación secundaria (antes bachiller)?</div>
            <input ng-click="goTo('form.cdv-social')" type="radio" name="cdve-value" class="input-hidden" ng-model="formData.cdveducativa" id="cdve1" value="1"><label for="cdve1">Sí</label>
            <input ng-click="goTo('form.cdv-social')" type="radio" name="cdve-value" class="input-hidden" ng-model="formData.cdveducativa" id="cdve0" value="0"><label for="cdve0">No</label>
        </div>
        <div class="col-sm-6 mascota-block hidden-xs">
            <img src="images/cdv-educativa.svg" /> -->
        </div>
    </div>
</div>
