<div class="container-fluid" id="resultado-block">
    <div class="row">
        <div class="col-sm-12">

          <div ng-hide="load">
              <div class="alert alert-info text-center" role="alert" ng-show="cookieflag"><button type="button" class="close" ng-click="hideCookie()" aria-label="Close"><span aria-hidden="true"><strong>&times;</strong></span></button>Al navegar muestras tu conformidad con que usemos algunas galletas (cookies) para alimentar esta webapp</div>
          </div>
          
          <div class="page-head text-center">
              <a ui-sref="form.inicio">
                  <h1 class="hidden">ElTiesometro.es | Comprueba tu nivel de tiesura</h1>
                  <h2 class="hidden">Comprueba si estás más tieso que la rodilla de un playmobil</h2>
                  <img class="img-responsive" src="images/logo.svg" />
              </a>
          </div>

          <div class="main-block">
              <div ng-show="showresult">
                  <h5 ng-show="load" class="text-center">Tu tiesura se define por</h5>
                  <h5 ng-show="reload" class="text-center">Han compartido contigo</h5>
                  <div ng-show="showresult" class="row">
                      <div class="col-sm-12" id="tiesura">
                          <img src="{{ tiesura_obj.image }}" alt="Imagen de {{ tiesura_obj.description }}">
                          <h3>{{ tiesura_obj.description }}</h3>
                          
                      </div>
                  </div>
              </div>

              <div ng-show="reload" class="text-center" style="padding:60px;">
                  <a class="main-button" ui-sref="form.percepcion">Comprueba tu tiesura</a>
              </div>
              
              <div id="share-buttons" class="text-center">
                  <h5 ng-show="load" class="text-center">Comparte tu tiesura con los demás<br> e invítales a hacer la prueba</h5>
                  <h5 ng-show="reload" class="text-center">Comparte esta iniciativa con tus amistades<br> e invítales a hacer la prueba</h5>
                  <!-- Twitter -->
                  <a href="https://twitter.com/share?text={{tiesura_desc}}. Comprueba tu nivel de tiesura en&url={{reloadurl}}&hashtags=tiesometro" target="_blank" ng-click="register_event('Comparte', 'Twitter')">
                      <img src="images/twitter.svg" alt="Comparte en Twitter" />
                  </a>
                  <!-- Facebook -->
                  <a href=" https://www.facebook.com/dialog/share?app_id=1637175829647403&display=popup&href={{reloadurl}}" target="_blank" ng-click="register_event('Comparte', 'Facebook')">
                      <img src="images/facebook.svg" alt="Comparte en Facebook" />
                  </a>
              </div>

              

              <img class="termometro img-responsive" src="images/termometro.svg" alt="Termómetro" />
          
          </div> 
        </div> 
    </div>
</div>

<div class="container-fluid" id="oda-preblock">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h5>Una iniciativa de</h5>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="oda-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3 text-center">
                        <img src="images/oda.png" width="300px" alt="Logo del Observatorio de la Desigualdad de Andalucía" />
                    </div>
                    <div class="col-sm-3 button-block text-center">
                        <a href="http://observatoriodesigualdadandalucia.org/" class="oda-button" target="_blank" ng-click="register_event('ODA', 'Web')">Visita la web</a>
                    </div>
                    <div class="col-sm-3 button-block text-center">
                        <a href="informe-resumen-oda.pdf" class="oda-button" target="_blank" ng-click="register_event('ODA', 'Informe')">Descarga el informe</a>
                    </div>
                    <div class="col-sm-3 button-block text-center">
                        <a href="propuestas-oda.pdf" class="oda-button" target="_blank" ng-click="register_event('ODA', 'Propuestas')">Nuestras propuestas</a>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="oda-postblock">
    <div class="container">
        <div class="row datos">
            <div class="col-sm-12">
                <h5>La desigualdad en Andalucía en 3 datos</h5>
                <div class="row">
                    <div class="col-sm-4">
                        <h3>Las rentas del capital superan ya las del empleo</h3>
                    </div>
                    <div class="col-sm-4">
                        <h3>La mitad de la población no puede hacer frente a gastos imprevistos</h3>
                    </div>
                    <div class="col-sm-4">
                        <h3>El 57.1% de la población está en situación de exclusión política</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-show="incidence" class="container-fluid" id="presiona-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h5>Presiona a quienes nos representan</h5>
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-1 text-center representante">
                        <img src="images/susana-diaz.svg" alt="Foto de Susana Díaz" />
                        <h4>Susana Díaz</h4>
                        <h6>(Presidenta, PSOE)</h6>
                        <a href="https://twitter.com/share?text=.@susanadiaz sabemos que quieres oir la calle y buscar soluciones. Nosotrxs te ayudamos&url=http://eltiesometro.es/%23/actua&hashtags=tiesometro" class="main-button main-button-small" target="_blank" ng-click="register_event('Presiona', 'Susana Díaz')">Presiónala</a>
                    </div>
                    <div class="col-md-2 text-center representante">
                        <img src="images/josemanual-moreno.svg" alt="Foto de José Manuel Moreno" />
                        <h4>J.Manuel Moreno</h4>
                        <h6>(Portavoz PP)</h6>
                        <a href="https://twitter.com/share?text=.@JuanMa_Moreno además de creer en Andalucía seguro que puedes crear Andalucía en el Parlamento&url=http://eltiesometro.es/%23/actua&hashtags=tiesometro" class="main-button main-button-small" target="_blank" ng-click="register_event('Presiona', 'José Manuel Moreno')">Presiónalo</a>
                    </div>
                    <div class="col-md-2 text-center representante">
                        <img src="images/teresa-rodriguez.svg" alt="Foto de Teresa Rodríguez" />
                        <h4>Teresa Rodríguez</h4>
                        <h6>(Portavoz Podemos)</h6>
                        <a href="https://twitter.com/share?text=.@TeresaRodr_ tenemos una lucha que llevar al Parlamento&url=http://eltiesometro.es/%23/actua&hashtags=tiesometro" class="main-button main-button-small" target="_blank" ng-click="register_event('Presiona', 'Teresa Rodríguez')">Presiónala</a>
                    </div>
                    <div class="col-md-2 text-center representante">
                        <img src="images/juan-marin.svg" alt="Foto de Juan Marín" />
                        <h4>Juan Marín</h4>
                        <h6>(Pacto Investidura, C's)</h6>
                        <a href="https://twitter.com/share?text=.@juanmarin_cs seguro que te interesa esto ahora q vais a fijar objetivos xa el resto de legislatura&url=http://eltiesometro.es/%23/actua&hashtags=tiesometro" class="main-button main-button-small" target="_blank" ng-click="register_event('Presiona', 'Juan Marín')">Presiónalo</a>
                    </div>
                    <div class="col-md-2 text-center representante">
                        <img src="images/antonio-maillo.svg" alt="Foto de Antonio Maíllo" />
                        <h4>Antonio Maíllo</h4>
                        <h6>(Portavoz IU)</h6>
                        <a href="https://twitter.com/share?text=.@MailloAntonio esto también es pedagogía para q en el Parlamento la ciudadanía sea prioritaria&url=http://eltiesometro.es/%23/actua&hashtags=tiesometro" class="main-button main-button-small" target="_blank" ng-click="register_event('Presiona', 'Antonio Maíllo')">Presiónalo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
